#green {
    clear: left;
    display: inline-block;
    padding: 0 0 2 0px;
    color:#00dd00;
}

#white {
	float: center;
	display: inline-block;
    padding: 0 4px 2px;
}

#t {
	float: center;
}

body {
  	text-align: center;
	background: #161512;
	color: #ffffff;
	font-size: large;
	font-family: Impact, Charcoal, sans-serif;
	webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

div {
	border-radius: 20px;
	background: #363430;
  	padding: 10px;
  	margin: 0% 20% 0% 20%;
}

h1 {
	color: #ffcf40;
}