body {
  background: #161512;
  color: #ffffff;
  font-size: large;
  font-family: Impact, Charcoal, sans-serif;
  webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: left;
}
h1 {
  color: #ffbf00;
  text-align: center;
}

#top {
  margin-left: 10%;
}

#curve_chart {
  width: 50%;
  min-width: 50%;
  height: 40%;
  min-height: 40%;
  margin-left: 25%;
  display: inline-block
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#inv {
  display: none;
}

#nav-item {
  display: inline;
  float: right;
}

#nav-a {
  text-decoration: none;
  color: #738282;
  display: block;
  padding: 8px;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

#nav-a:hover {
  color: #ffffff;
}